<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>name</key>
		<string>KMART Report</string>
		<key>url</key>
		<string>https://myorg.jamfcloud.com</string>
		<key>credentials</key>
		<string>base_64_encoded_username:password</string>
		<key>api_requests</key>
		<integer>4</integer>
		<key>reports</key>
		<dict>
			<key>buildings_not_linked</key>
			<true/>
			<key>categories_not_linked</key>
			<true/>
			<key>departments_not_linked</key>
			<true/>
			<key>ebooks_no_scope</key>
			<true/>
			<key>ibeacons_not_linked</key>
			<true/>
			<key>mac_advanced_searches_no_criteria</key>
			<true/>
			<key>mac_advanced_searches_invalid_criteria</key>
			<true/>
			<key>mac_applications_no_scope</key>
			<true/>
			<key>mac_configuration_profiles_no_scope</key>
			<true/>
			<key>mac_devices_duplicate_names</key>
			<true/>
			<key>mac_devices_duplicate_serial_numbers</key>
			<true/>
			<key>mac_devices_last_check_in</key>
			<true/>
			<key>mac_devices_last_inventory</key>
			<true/>
			<key>mac_directory_bindings_not_linked</key>
			<true/>
			<key>mac_disk_encryptions_not_linked</key>
			<true/>
			<key>mac_dock_items_not_linked</key>
			<true/>
			<key>mac_extension_attributes_not_linked</key>
			<true/>
			<key>mac_extension_attributes_disabled</key>
			<true/>
			<key>mac_extension_attributes_linter_warnings</key>
			<true/>
			<key>mac_extension_attributes_linter_errors</key>
			<true/>
			<key>mac_packages_not_linked</key>
			<true/>
			<key>mac_policies_no_scope</key>
			<true/>
			<key>mac_policies_disabled</key>
			<true/>
			<key>mac_policies_no_payload</key>
			<true/>
			<key>mac_policies_last_executed</key>
			<true/>
			<key>mac_policies_failed_threshold</key>
			<true/>
			<key>mac_printers_not_linked</key>
			<true/>
			<key>mac_restricted_software_no_scope</key>
			<true/>
			<key>mac_scripts_not_linked</key>
			<true/>
			<key>mac_scripts_linter_warnings</key>
			<true/>
			<key>mac_scripts_linter_errors</key>
			<true/>
			<key>mac_smart_groups_not_linked</key>
			<true/>
			<key>mac_smart_groups_no_criteria</key>
			<true/>
			<key>mac_static_groups_not_linked</key>
			<true/>
			<key>mac_static_groups_empty</key>
			<true/>
			<key>mobile_advanced_searches_no_criteria</key>
			<true/>
			<key>mobile_advanced_searches_invalid_criteria</key>
			<true/>
			<key>mobile_applications_no_scope</key>
			<true/>
			<key>mobile_configuration_profiles_no_scope</key>
			<true/>
			<key>mobile_devices_last_inventory</key>
			<true/>
			<key>mobile_extension_attributes_not_linked</key>
			<true/>
			<key>mobile_smart_groups_not_linked</key>
			<true/>
			<key>mobile_smart_groups_no_criteria</key>
			<true/>
			<key>mobile_static_groups_not_linked</key>
			<true/>
			<key>mobile_static_groups_empty</key>
			<true/>
			<key>network_segments_not_linked</key><true/>
		</dict>
		<key>report_options</key>
		<dict>
			<key>mac_devices_last_check_in</key>
			<integer>15</integer>
			<key>mac_devices_last_inventory</key>
			<integer>15</integer>
			<key>mac_policies_last_executed</key>
			<integer>15</integer>
			<key>mac_policies_failed_threshold</key>
			<integer>15</integer>
			<key>mobile_devices_last_inventory</key>
			<integer>15</integer>
		</dict>
		<key>output</key>
		<dict>
			<key>json</key>
			<string>/path/to/report.json</string>
			<key>plist</key>
			<string>/path/to/report.plist</string>
			<key>yaml</key>
			<string>/path/to/report.yaml</string>
			<key>markdown</key>
			<string>/path/to/report.md</string>
			<key>html</key>
			<string>/path/to/report.html</string>
		</dict>
		<key>email</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>hostname</key>
			<string>smtp.office365.com</string>
			<key>port</key>
			<integer>587</integer>
			<key>username</key>
			<string>first_last@myorg.com</string>
			<key>password</key>
			<string>super_complex_password</string>
			<key>sender_name</key>
			<string>KMART Bot 2000</string>
			<key>sender_email</key>
			<string>kmart_bot@myorg.com</string>
			<key>recipients</key>
			<array>
				<string>myteam@groups.myorg.com</string>
			</array>
			<key>cc</key>
			<array/>
			<key>bcc</key>
			<array/>
			<key>subject</key>
			<string>My Org Jamf Pro Report</string>
			<key>attachments</key>
			<dict>
				<key>json</key>
				<string>filename.json</string>
				<key>plist</key>
				<string>filename.plist</string>
				<key>yaml</key>
				<string>filename.yaml</string>
				<key>markdown</key>
				<string>filename.md</string>
				<key>html</key>
				<string>filename.html</string>
			</dict>
		</dict>
	</dict>
</plist>
